* {
    --highlight: #4192D9;
    --linkcolor: #A68A68;
}

html {
    font-family: monospace;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: var(--linkcolor);
}

h1 {
    font-family: sans-serif;
    color: var(--highlight);
}

a:hover {
    color: var(--highlight);
}

p a::before { content: "["}
p a::after { content: "]"}

#content {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    max-width: 520px;
    line-height: 1.5em;
}

.avatar {
    border-radius: 50%;
    width: 150px;
}

.icons {
    list-style-type: none;
    font-size: x-large;
    padding:0;
}

.icons li {
    display: inline;
    padding : 15px;
}

.icons a {
    color: var(--highlight);
}

.icons a:hover {
    color: var(--linkcolor);
}
